<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>
<body>
    {{>section}}
     <div class="SUB_container">
        <li class="set">Set 1 :  <a href="https://drive.google.com/file/d/1BT4Kfw6IhbalR1BMoWjvOGhF201PHJ05/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/1uYTqxWO0aRwEW7qvsxZwkocJ8AAb5ubv/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1xs7sGORdrGfjKESRvV17yyGodcdiXpTR/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/1YKJzdyfow4zaCLgbpMQ4qbyIre6HHY81/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1xRU4hWK4fRuOB-VAXsDPIpHTRY0KLnrS/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">App dev Using Python</a></li>
        <li class="link"> YouTube Link : <a href="https://youtube.com/playlist?list=PLOZyfu4IYm88LG1i9KHXIajA40kAbsCpX">https://youtube.com/playlist?list=PLOZyfu4IYm88LG1i9KHXIajA40kAbsCpX</a></li>
    </div>
    {{>footer}}
</body>