<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>section}}
    <div class="SUB_container">
        <li class="set">Set 1 :  <a href="https://drive.google.com/file/d/1nPch-oOBWJaLEuzmKDtG-NGElHYBUGg4/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/1F3p4b0vGGpxM2vd7Mq2qI6J0lBW8ReA6/view?usp=sharing">Module 2</a>   <a href=" https://drive.google.com/file/d/19XM35BKVjv_E8HZmUtsYTXiMs-Iq9wP1/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/1TFoZ3L7mCMURGWSawy0Ri3y-8GfA65Pb/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1qzB1kiTkr-NAnEDOQD_8FqyXac35QrUp/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href="https://drive.google.com/file/d/0B-ITW-kTxwdfQ0Rfeks5b1V4bGM/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/0B-ITW-kTxwdfYzFsQ0s5MTBGUlE/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1H3V_Uc0rgCfcte0rcw9sj2jdaGBRSMWb/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/1gjxMQ2HVbHw04uUDiVEQmwTVcZi5439T/view?usp=sharing">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">Automata Theory And Comutability</a></li>
        <li class="link"> YouTube Link : <a href="https://youtube.com/playlist?list=PLOZyfu4IYm8-RWzdAbF-ZKEYXmD_2LUWI">https://youtube.com/playlist?list=PLOZyfu4IYm8-RWzdAbF-ZKEYXmD_2LUWI</a></li>
    </div>
    {{>footer}}
</body>
</html>