<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>section}}


    <div class="SUB_container">
        <li class="set">Set 1 :  <a href="https://drive.google.com/file/d/1IYQn8-4VuDv6neXJqWldRoOQczyy1kTO/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/1UOWUKPOF-hR6Ni9W3sbviXBLNNCy_HFU/view?usp=sharing">Module 2</a>   <a href=" https://drive.google.com/file/d/1BMXVVDckdvdHRE1yMh8yXORAdoepDVYb/view?usp=sharing">Module 3</a>  <a href=" https://drive.google.com/file/d/1PEGZYiWGxVTFnPElkdQ46nZTuhL_cse4/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1CBh0Mi3TsKHNY32tTyQs8hcSWN8onK1a/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href="https://drive.google.com/file/d/18AOb31qd7M900M_jSB_Z2G_EfP6LvmHD/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/1ZF2D8wMyGkP5_RQAg9SoXlh2KkR1_aoI/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1KiCZgY7BLunaoP1KVxS34F2myxOkJfCO/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/1oRn_CmROiqiGw-_bYeVnem97zNhZRXH3/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1iTGzUXsm1oDsGvsQKjBD5m0XHL7GeLUg/view?usp=sharing">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="https://drive.google.com/file/d/0B-ITW-kTxwdfSWNxMk1vcGJST0k/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/0B-ITW-kTxwdfZklUT25DVkdKbzg/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/0B-ITW-kTxwdfajAxWGtIWlVjY0U/view?usp=sharing">Module 3</a>  <a href=" https://drive.google.com/file/d/0B-ITW-kTxwdfWS1rejVlNGhuSHM/view?usp=sharing">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">Computer Networks And Security</a></li>
        <li class="link"> YouTube Link : <a href="https://youtube.com/playlist?list=PLOZyfu4IYm8_LreRqzbF_LXGxInHhID4V">https://youtube.com/playlist?list=PLOZyfu4IYm8_LreRqzbF_LXGxInHhID4V</a></li>
    </div>
    {{>footer}}
</body>
</html>