<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>section}}

    <div class="SUB_container">
        <li class="set">Set 1 :  <a href=" https://drive.google.com/file/d/1wbIKGBCaVWZghoTvMaJ34Ax9a_Q0_669/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/1oCqZL3XEJoyh0QIvAd3xAXbbCaO1Hzxt/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1beUht5yWEhwT_7fz7ghfmqta0xPabKZi/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/17pUhMoFs7DT9s7rqbtrgvbXfyrAWq3gs/view?usp=sharing">Module 4</a>  <a href=" https://drive.google.com/file/d/1GiQORciCnQmrRGxSTOyhbFEDu6lmnzWl/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href="https://drive.google.com/file/d/1NBkZvXVe6KTUCAnGLDen8pA4WZZhKKrm/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/19sMWgKEDegyN0iDXhe2tV6YiG3tj5cA8/view?usp=sharing">Module 2</a>   <a href=" https://drive.google.com/file/d/1Uq6s-yngMypzwyg_rWRjBKQs6G5X6jjD/view?usp=sharing">Module 3</a>  <a href=" https://drive.google.com/file/d/1YnYyOuhqAqQ5LMMY94EttdZfxShUM5g8/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1GB_45p8S2Zawxrme9FRW9XN1FRzKG43I/view?usp=sharing">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">DataBase Management System </a></li>
        <li class="link"> YouTube Link : <a href="https://youtu.be/tOohitf2CNE">https://youtu.be/tOohitf2CNE</a></li>
    </div>
   {{>footer}}
</body>
</html>