<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>section}}

    <div class="SUB_container">
        <li class="set">Set 1 :  <a href="https://drive.google.com/file/d/10q8S3UdP3mtBQKRVvre4Vefh8h7waHA4/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/1VI7VTxhTeVnaP5fTJFu7toNgWOtyCOXV/view?usp=sharing">Module 2</a>   <a href=" https://drive.google.com/file/d/1zZZVwkV5PvRLYadFJmRjCOOhaf57RfmW/view?usp=sharing">Module 3</a>  <a href=" https://drive.google.com/file/d/1jpWKlTDrAoV9QlNvGcELW0h4_tlZZJtq/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1C-ng6_HGCyrx1DxaRV4Jysfz7sA4XSbV/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href="https://drive.google.com/open?id=0B-ITW-kTxwdfcWJ2dkQ0ck5pZE0">Module 1</a> <a href="https://drive.google.com/open?id=0B-ITW-kTxwdfalI0Tm5FTFgyUUE">Module 2</a>   <a href="https://drive.google.com/open?id=0B-ITW-kTxwdfU3lmdGpwTGZUUkU">Module 3</a>  <a href=" https://drive.google.com/open?id=1gRA_KgBlqgcSWkgsdT9LK4E4PVFvDuGM">Module 4</a>  <a href=" https://drive.google.com/open?id=1KIzf74Oh9_1nQ3UPi6Ul228LpbK46xPX">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">Management And Enterpreunership</a></li>
        <li class="link"> YouTube Link : <a href="https://youtube.com/playlist?list=PLOZyfu4IYm8_7tYi8-q-13iD2VE5iemez">https://youtube.com/playlist?list=PLOZyfu4IYm8_7tYi8-q-13iD2VE5iemez</a></li>
    </div>
    {{>footer}}
</body>
</html>