<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
   {{>section}}


    <div class="SUB_container">
        <li class="set">Set 1 :  <a href="https://drive.google.com/file/d/1TRpZMtw7sxdhpZgtqZB5CQV08OHPldYt/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/1rNlZXNwAoq6z_p8koDIySUDfzSR0zCiG/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1XKGyc08-pG7kJrBKQtSnO8lM4t5pluGb/view?usp=sharing">Module 3</a>  <a href=" https://drive.google.com/file/d/1fUMwVwyvfXUaBs1KQiOoopEnCrF4TJYU/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/1z_7HllevfG9WYatSm48zIGBOnND-X3_O/view?usp=sharing">Module 5</a></li>
        <li class="set">Set 2 :  <a href=" https://drive.google.com/file/d/16z-sg08lWnAF0Ih3qN5oIP07b-3hBNyP/view?usp=sharing">Module 1</a> <a href="https://drive.google.com/file/d/1JeBTvO4YsgH-OHy15Z6hy8ZRbZdVlbcU/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/15DvqEMa5sAG-VPbfe5tDIESMAlxTEvD5/view?usp=sharin">Module 3</a>  <a href=" https://drive.google.com/file/d/1scPC_dd50sVmdniLA7Iio2dOYNc7qTZj/view?usp=sharing">Module 4</a>  <a href="https://drive.google.com/file/d/15bH4hNVfzsuOLeQmAHkx5GsqAI3TJIOS/view?usp=sharing">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="https://drive.google.com/file/d/1dReNpgOjov3U8KhcLCnfGMMzD65kH5n7/view?usp=sharing">Module 1</a> <a href=" https://drive.google.com/file/d/1oA4x3k9vR2Z5Zv4996-dyo7db_aZwc2u/view?usp=sharing">Module 2</a>   <a href="https://drive.google.com/file/d/1qzlQTbUX9EMrY6cJ_UJ55wYc7_XdWHHa/view?usp=sharing">Module 3</a>  <a href="https://drive.google.com/file/d/1zdFIauPPkuHl38ix4gpoJvXDBaLeBDTP/view?usp=sharing">Module 4</a>  <a href=" https://drive.google.com/file/d/1WONg3GWdGXl2GTa0QvpLDKU3OVLElOXm/view?usp=sharing">Module 5</a> </li>
        <li class="set">TextBook : <a href="">Unix Programming</a></li>
        <li class="link"> YouTube Link : <a href="https://youtube.com/playlist?list=PLon7I2JOCP9UJQUcLAc8kRRgqKQurJKpu">https://youtube.com/playlist?list=PLon7I2JOCP9UJQUcLAc8kRRgqKQurJKpu</a></li>
    </div>
    {{>footer}}
</body>
</html>