  <div class="foot_container">
        <div class="text">
            <div> Handcrafted with </div><span>❤</span><div>Dheeraj</div>
        </div>
        <div class="fav_container">
            <div class="fav">
                <li><a href="http://wa.me/9108161077 "><i class="fab fa-whatsapp" id="wp"></i></a></li>
                <li><a href="https://www.instagram.com/dheeraj_9108"> <i class="fab fa-instagram" id="ig"></i></a></li>
                <li><a href="https://github.com/Dheeraj9108"><i class="fab fa-github" id="gh"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dheeraj-poojary-925737205"><i class="fab fa-linkedin-in" id="ln"></i></a></li> 
            </div>
        </div>
    </div>
    <div class="line"></div>
    <footer class="foot"> Copyright @ 2021
        <div>The Content available on this websitr are taken from internet and are only made available for reference.</div>
        <div>No sale of contents,Copyright infringement is encouraged.</div>
        <div>The author of this website doesn't own any copyright for the textbooks.</div>
    </footer>