<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/cs.css">
</head>
<body>
    {{>section}}
    <div class="main_container">
        <ul>
            <li class="btn"> <a href="">Engineering Mathematics - I</a> </li>
            <li class="btn"> <a href="">Engineering Physics</a> </li>
            <li class="btn"> <a href="">Elements Of Civil Engg & Mechanics</a> </li>
            <li class="btn"> <a href="">Engineering Graphics</a> </li>
            <li class="btn"> <a href="">Basics Electrical Engineering</a></li>
            <li class="btn"> <a href="">English - I</a> </li>
        </ul>
    </div>
   {{>footer}}
</body>
</html>