<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/cs.css">
</head>
<body>
   {{>section}}
    <div class="main_container">
        <ul>
            <li class="btn" id="btn_1"> <a href="pcycle"><span>Physics Cycle</span></a> </li>
            <li class="btn" id="btn_2"> <a href="ccycle"><span>Chemistry Cycle</span> </a> </li>
        </ul>
    </div>
    {{>footer}}
</body>