<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/cs.css">
    <script src="js/main.js"></script>
</head>
<body>
   {{>section}}
    <div class="main_container">
        <ul>
            <li class="btn" id="btn_1"> <a href="cs3">3rd Sem</a> </li>
            <li class="btn" id="btn_2"> <a href="cs4">4th Sem</a> </li>
            <li class="btn" id="btn_3"> <a href="cs5">5th Sem</a> </li>
            <li class="btn" id="btn_4"> <a href="">6th Sem</a></li>
            <li class="btn" id="btn_5"> <a href="">7th Sem</a> </li>
        </ul>
    </div>
    {{>footer}}
</body>