<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/cs.css">
    <script src="js/main.js"></script>
</head>
<body>
    {{>section}}
    <div class="main_container">
        <ul>
            <li class="btn"> <a href="EM-III">Engineering Mathematics - III</a> </li>
            <li class="btn"> <a href="SE">Software Engineering</a> </li>
            <li class="btn"> <a href="DMS">Discrete Mathematical Structures</a> </li>
            <li class="btn"> <a href="DSA">Data Structures & Applications</a> </li>
            <li class="btn"> <a href="CO">Computer Organization</a> </li>
            <li class="btn"> <a href="ADE">Analog & Digital Electronics</a> </li>
        </ul>
    </div>

   {{>footer}}
</body>
</html>