<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
  {{>section}}


    <div class="SUB_container">
        <li class="set">Set 1 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a></li>
        <li class="set">Set 2 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">Set 3 :  <a href="">Module 1</a> <a href="">Module 2</a>   <a href="">Module 3</a>  <a href="">Module 4</a>  <a href="">Module 5</a> </li>
        <li class="set">TextBook : <a href="">DMS</a></li>
        <li class="link"> YouTube Link : <a href="">DMS</a></li>
    </div>
    {{>footer}}
</body>
</html>