.root{
    font-size: 62.5%;
}
/* Main CS page */
.main_container{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    position: absolute;
    /* overflow: hidden; */
}
.main_container ul{
    list-style: none;
}
.btn a{
    color: yellowgreen;
     font-weight: 600;
    font-size: 3rem;
    font-style: italic;
    text-shadow: 0.2rem 0.2rem 0.5rem yellow;
    text-decoration: underline;
    font-family: cursive;
}
.btn{
    width: 100%;
    padding:1rem 3rem;
   
    border: 2px solid red;
    margin: 2rem 0;
    border-radius: 5rem;
    text-align: center;
    box-shadow: 0.6rem 0.5rem 1.5rem rgb(245, 3, 51);
}

/* .btn:nth-child(2n){
    animation: blink 1s linear infinite;
}
.btn:nth-child(n-1){
    animation: blink 1s linear infinite;
} */
/* .btn  span{
    animation: blink 1s linear infinite;
} */
#btn_1 span{
    animation: blink 2.2s linear infinite;
    animation-delay: 0.2s;
}
#btn_2 span{
    animation: blink 2.2s linear infinite;
    animation-delay: 0.6s;
}
#btn_3 span{
    animation: blink 2.2s linear infinite;
    animation-delay: 1.0s;
}
#btn_4 span{
    animation: blink 2.2s linear infinite;
    animation-delay: 1.4s;
}
#btn_5 span{
    animation: blink 2.2s linear infinite;
    animation-delay: 1.8s;
}
@keyframes blink{
    0%{
        opacity:0;
    }

}

